/* General styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type="submit"] {
    cursor: pointer;
}

.container {
    padding-top: 10px;
    /* background-color: bisque; */
}

/* .btn {
    display: inline-block;
    font-size: 1.22em;
    color: #333;
    padding: 0.1em 12px;
} */
/* Header styles */
ul.nav {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-gap: 20px;
}

ul.nav a {
    display: inline-block;
    font-size: 1.22em;
    color: #333;
    padding: 0.1em 12px;
    transition: color 0.5s;
}

ul.nav a:hover {
    color: teal;
}

.header {
    margin-bottom: 30px;
}

/* Jumbotron styles */
.jumbotron {
    margin: 2em 20px 3em;
    padding: 70px 20px 30px;
    background-color: #ffffcc;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.jumbotron h1 {
    font-size: 3.3em;
    letter-spacing: 0.055em;
    line-height: 1.7;
    text-align: center;
    color: #333;
}

.jumbotron form {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-gap: 50px;
}

.jumbotron form select {
    height: 35px;
    border-radius: 4px;
    background-color: #eee;
    padding: 0 8px;
}

.jumbotron form input[type="submit"],
.form-group input[type="submit"] {
    background-color:goldenrod;
    color: #222;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    transition: all 0.8s;
}

.jumbotron form input[type="submit"]:hover,
.form-group input[type="submit"]:hover {
    background-color: #333;
    color: darkcyan;
}

/* Job Listing styles */
.job-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.job-item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 1em 0 2em;
    padding: 4px 10px;
}

.job-controls {
    justify-self: end;
    /* align-self: start; */
}

.job-controls a {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #eee;
    padding: 2px 12px;
    font-size: 1.12em;
}

.job-controls a:hover {
    background-color: #333;
    color: #fff;
}


/* Footer styles */
footer {
    margin-top: 3.5em;
}

/* single job styles */
.page-header {
    margin: 3.5em 0 0.15em;
}

.lead {
    padding: 8px 0;
    text-align: justify;
}

.list-group {
    margin: 20px 0 0;
    padding: 20px 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* display: inline-block; */
}

.list-group-item {
    line-height: 2.7;
    text-align: justify;
}

.job-controls a.view-btn {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #333;
    color: cadetblue;
    transition: color 1.2s;
}

.job-controls a.view-btn:hover,
.job-controls a.view-btn:active {
    color: #fff;
}

/* create job form styles */
form#create-job {
    background-color: #ebeb9c;
    margin: 2em 1em 1em;
    padding: 1em;
    border-radius: 4px;
    /* width: 70%; */
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 7px;
    margin: 0 0 1em;
}

.form-group label {
    font-size: 0.75em;
}

.form-control {
    min-height: 31px;
    border-radius: 3px;
    border: 0;
    background-color: #fff;
    transition: all 1s;
    padding: 0 8px;
}

textarea.form-control {
    min-height: 5em;
}

.form-control:hover,
.form-control:active {
    border: 0.8px solid steelblue;    
}

.form-group input[type="submit"] {
    justify-self: end;
    padding: 8px 20px;
}

/* session message styles */
.session-message {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 200;
    width: 100%;
    transition: opacity 2s;
    transition: transform 1s ease-in-out;
}

.session-message.alert {
    padding: 20px 0.5em;
    color: #fff;
    font-size: 1.05em;
}

.session-message.alert.alert-success {
    background-color: #508060;
}

.session-message.alert.alert-danger {
    background-color: rgb(233, 66, 66);
}

.controls {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 20px;
    text-align: center;
    align-items: center;
}

.btn {
    letter-spacing: 1.2px;
    padding: 8px 15px;
    font-size: 1.13em;
    border-radius: 3px;
    transition: all 0.25s;
}

.btn:hover {
    font-weight: bold;
}

.go-back-btn {
    background-color: sienna;
    color: #fff;
}

.go-back-btn:hover {
    background-color: saddlebrown;
}

.edit-btn {
    background-color: darksalmon;
    color: #333;
}

.edit-btn:hover {
    background-color: salmon;
}

.delete-btn {
    background-color: goldenrod;
    border: 0;
}

/* comment section styles */
.comment-section {
    margin: 3em 0 1em;
}

#comment-form {
    width: 65%;
    display: grid;
    grid-template-columns: 3fr 120px;
    grid-gap: 20px;
    align-items: end;
    margin: 0 0 2em;
}

#comment-form textarea {
    height: 80px;
    padding: 10px;
}

.comments {
    display: grid;
    grid-template-columns: 1fr;
}

.comment {
    padding: 20px 5px 5px;
}

.comment:nth-child(odd) {
    background-color: #eee;
}

.comment:nth-child(even) {
    background-color: #ddd;
}

.comment:first-child {
    border-radius: 5px 5px 0 0;
}

.comment-btn {
    
}

